.fondo-azul{
    ion-content{
        background-color: blue;
    }
    
    ion-nav{
        background-color: #03A9F4;
    }
    
    .body .body-backgorud{
        background-color: #03A9F4
    }
    
    .toolbar-title {
        color: #fff;
    }
     
    .header .toolbar-background {
        background-color:rgba(23, 90, 216, 0.897);
    }
    
}


