.fondo-verde{
    ion-content{
        background-color: rgb(64, 206, 7);
    }
    
    ion-nav{
        background-color: rgb(10, 145, 5);
    }
    
    .body .body-backgorud{
        background-color: rgb(10, 145, 5);
    }
    
    .toolbar-title {
        color: #fff;
    }
     
    .header .toolbar-background {
        background-color:rgb(10, 145, 5);
    }
    
}