.fondo-rojo{
    ion-content{
        background-color: rgb(184, 51, 28);
    }
    
    ion-nav{
        background-color: rgb(244, 19, 3);
    }
    
    .body .body-backgorud{
        background-color: rgb(244, 19, 3)
    }
    
    .toolbar-title {
        color: #fff;
    }
     
    .header .toolbar-background {
        background-color:rgba(216, 45, 23, 0.897);
    }
    
}