.argentina-theme{
    ion-content{
        background-image: url('../assets/img/fondo/bandera.jpg');
        background-size: 100% auto;
    }

    ion-header,ion-content{
        font-family: 'Lobster', cursive;
    }

    ion-nav{
        background-color: #03A9F4;
    }

    .toolbard-backgroud{
        background-color: #0288D1;
    }
}