.profesional-theme{

    ion-content {
        background-image: url('../assets/img/fondo/comida.jpeg');
        background-size: 100% auto;
        background-color: #090f2f;
        color: #fff;
    }

    ion-header, ion-content {
        font-family: 'Righteous', cursive;
    }
     
    .toolbar-title {
        color: #fff;
    }
     
    .header .toolbar-background {
        border-color: #ff0fff;
        background-color: orange;
    }

    ion-item{
        background-color:rgba(51, 33, 28, 0.747);
        color:white
    }
      
    ion-list-header{
        background-color:rgba(51, 33, 28, 0.747);
        color:white
    }

    ion-card{
        background-color:rgba(129, 44, 21, 0.747);
    }

    .miButton{
        margin:auto;
        text-align:center;
        display:block;
        background-color:rgba(250, 99, 18, 0.699)
    }
}